<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>


<body>
        <div class="row">
            <div class="col-1 sidenav">
                <br />
                <br />
                <h4>DTS</h4>
                <br />
                <br />
                <a class="nav-link sidenav-text-color" asp-area="" asp-page="/Davalar/Index">Tüm Davalar</a>
                <br />
                <br />
                <a class="nav-link sidenav-text-color" asp-area="" asp-page="/Arama/Arama">Arama</a>
                <br />
                <br />
                <a class="nav-link sidenav-text-color" asp-area="" asp-page="/Rapor/Rapor">Rapor</a>
                <br />
                <br />
                <br />
                <br /> 
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
                <div class="col-10">

                    <main role="main">
                        <br />
                        <br />
                        @RenderBody()
                    </main>
            </div>
        </div>


    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApp1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@


    <script src="~/Properties/wwwroot/lib/jquery/dist/jquery.min.js" />
    <script src="~/Properties/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
