@using Microsoft.AspNetCore.Identity
@using WebApp1.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject HukukDTSContext _context




@if (SignInManager.IsSignedIn(User))
{


    <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        @if (User.IsInRole(Roles.Role_Admin))
        {
            <center><h4 style="color:white;">Admin</h4></center>
        }
        else
        {
            <center><h4 style="color:white;">Kullanıcı</h4></center>
        }

        @UserManager.GetUserName(User)
    </a>

    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
        <button id="logout" type="submit" class="btn btn-dark btn-search">Çıkış</button>
    </form>

}
@*else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }*@
