@page
@model WebApp1.Pages.Davalar.DavaGuncelleModel
@{

}

<div class="dava-table" style="padding:0px;">
    <div class="dava-scroll" style="overflow-x:hidden;" >

        <form method="post" id="davaGuncelle">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:80%">
                                    <span>Dava Detayı</span>
                                </td>
                                <td style="text-align:right;">
                                    <span>

                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @{
                    var id = Request.QueryString.ToString();
                    string[] tokens = id.Split("=");
                }

                <table id="davaBilgi" class="table table-hover" style="width:100%;font-size:11px;">
                    <tbody>
                        <tr>
                            <td>
                                <b>Dava Kayıt No</b>

                            </td>
                            <td style="width:50%;">
                                <input class="form-control w-75" value="@tokens[1].ToString()" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Esas No</b>
                            </td>
                            <td>
                                <input asp-for="Dava.EsasNo" class="form-control w-75" placeholder="Esas No" id="esasno" required />
                                <span asp-validation-for="Dava.EsasNo" class="text-danger" id="esasNoError" ></span>

                            </td>
                            <td>
                                <b>Defter Sıra No</b>
                            </td>
                            <td>
                                <input asp-for="Dava.DefterSiraNo" class="form-control" placeholder="Defter Sıra No" id="deftersirano" required />
                                <span asp-validation-for="Dava.DefterSiraNo" class="text-danger" id="defterSiraNoError"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Yargıtay Dosya No</b>
                            </td>
                            <td>
                                <input asp-for="Dava.YargitayDosyaNo" class="form-control w-75" placeholder="Yargıtay Dosya No" id="yargitaydosyano" required />
                                <span asp-validation-for="Dava.YargitayDosyaNo" class="text-danger" id="yargitayDosyaNoError"></span>
                            </td>
                            <td>
                                <b>Dava Tarihi</b>
                            </td>
                            <td>
                                <input type="date" asp-for="Dava.DavaTarihi" class="form-control" placeholder="Dava Tarihi" id="davaTarihi" onchange="validateDavaTarihi();" required />
                                <span asp-validation-for="Dava.DavaTarihi" class="text-danger" id="davaTarihiError"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Dava Türü</b>
                            </td>
                            <td>
                                <select asp-for="Dava.DavaTuruKayitNo" class="form-control w-75">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <span asp-validation-for="Dava.DavaTuruKayitNo" class="text-danger"></span>
                            </td>
                            <td>
                                <b>Dava Konusu</b>
                            </td>
                            <td>
                                <textarea asp-for="Dava.DavaKonusu" class="form-control"
                                          rows="2" cols="50" maxlength="99" placeholder="Dava Konusu" id="davakonusu" required>
                                </textarea>
                                <span asp-validation-for="Dava.DavaKonusu" class="text-danger" id="davaKonusuError"></span>

                            </td>

                        </tr>

                        <tr>
                            <td>
                                <b>Lehte</b>
                            </td>
                            <td>
                                <select asp-for="Dava.Lehte" class="form-control w-75">
                                    <option value="true" selected>Lehte</option>
                                    <option value="false">Aleyhte</option>
                                    <option value="">Belirsiz</option>
                                </select>
                                <span asp-validation-for="Dava.Lehte" class="text-danger"></span>

                            </td>
                            <td>
                                <b>Sonuç Tahmini</b>
                            </td>
                            <td>
                                <select asp-for="Dava.SonucTahmini" class="form-control">
                                    <option value="">Yorumsuz</option>
                                    <option value="true">Lehte</option>
                                    <option value="false">Aleyhte</option>
                                </select>
                                <span asp-validation-for="Dava.SonucTahmini" class="text-danger"></span>

                            </td>

                        </tr>

                        <tr>
                            <td>
                                <b>Mahkemesi</b>
                            </td>
                            <td>
                                <textarea asp-for="Dava.Mahkemesi" class="form-control w-75"
                                          rows="2" cols="50" maxlength="99" placeholder="Mahkemesi" id="mahkemesi" required></textarea>
                                <span asp-validation-for="Dava.Mahkemesi" class="text-danger" id="mahkemesiError"></span>

                            </td>
                            <td>
                                <b>Dava Tutarı</b>
                            </td>
                            <td>
                                <input type="number" asp-for="Dava.DavaTutari" class="form-control" placeholder="Dava Tutarı" id="davatutari"/>
                                <span asp-validation-for="Dava.DavaTutari" class="text-danger" id="davaTutariError"></span>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Islah Değeri</b>
                            </td>
                            <td>
                                <input type="number" asp-for="Dava.IslahDegeri" class="form-control w-75"  id="islahdegeri" placeholder="Islah Değeri" />
                                <span asp-validation-for="Dava.IslahDegeri" class="text-danger" id="islahDegeriError"></span>
                            </td>
                            <td>
                                <b>Para Birimi Kayıt No</b>
                            </td>
                            <td>
                                <select asp-for="Dava.ParaBirimiKayitNo" class="form-control">
                                    <option value="1">$</option>
                                    <option value="2" selected>tl</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <b>Davacı</b>
                            </td>
                            <td>
                                <input asp-for="Dava.Davaci" class="form-control w-75" id="davaci" placeholder="Davacı" />
                                <span asp-validation-for="Dava.Davaci" class="text-danger" id="davaciError"></span>
                            </td>
                            <td>
                                <b>Davalı</b>
                            </td>
                            <td>
                                <input asp-for="Dava.Davali" class="form-control" placeholder="Davalı" id="davali" />
                                <span asp-validation-for="Dava.Davali" class="text-danger" id="davaliError"></span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <b>Diğer Davacılar</b>
                            </td>
                            <td>
                                <input asp-for="Dava.DigerDavacilar" class="form-control w-75" placeholder="Diğer Davacılar" id="digerdavacilar" />
                                <span asp-validation-for="Dava.DigerDavacilar" class="text-danger" id="digerDavacilarError"></span>

                            </td>
                            <td>
                                <b>Diğer Davalılar</b>
                            </td>
                            <td>
                                <input asp-for="Dava.DigerDavalilar" class="form-control" placeholder="Diğer Davalılar" id="digerdavalilar" required />
                                <span asp-validation-for="Dava.DigerDavalilar" class="text-danger"id="digerDavalilarError" ></span>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <b>Açıklama</b>
                            </td>
                            <td>
                                <textarea asp-for="Dava.Aciklama" class="form-control w-75"
                                          rows="6" cols="80" maxlength="7999" placeholder="Açıklama" id="aciklama" required></textarea>
                                <span asp-validation-for="Dava.Aciklama" class="text-danger" id="aciklamaError"></span>

                            </td>

                            <td>
                                <b>Temyiz Edildi</b>
                            </td>
                            <td>
                                <select asp-for="Dava.TemyizEdildi" class="form-control">
                                    <option value="true">Edildi</option>
                                    <option value="false" selected>Edilmedi</option>
                                    <option value="">Belirsiz</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:80%">
                                    <span>Yerel Mahkeme Kararı</span>
                                </td>
                                <td style="text-align:right;">
                                    <span>

                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table id="davaBilgi" class="table table-hover" style="width:100%;font-size:11px;">
                    <tbody>
                        <tr>
                            <td>
                                <b>Karar No</b>

                            </td>
                            <td>
                                <input asp-for="MahkemeKarari.KararNo" class="form-control" placeholder="Dava Form Tipi" id="kararno" />
                                <span asp-validation-for="MahkemeKarari.KararNo" class="text-danger" id="kararNoError"></span>
                            </td>
                            <td>
                                <b>Karar Tarihi</b>
                            </td>
                            <td>
                                <input asp-for="MahkemeKarari.KararTarihi" class="form-control" id="kararTarihi" />
                                <span asp-validation-for="MahkemeKarari.KararTarihi" class="text-danger" id="kararTarihiError"></span>

                            </td>

                            <td>
                                <b>Karar Sonucu</b>
                            </td>
                            <td>
                                <select asp-for="MahkemeKarari.KararSonucu" class="form-control">
                                    <option value="true" selected>Lehte</option>
                                    <option value="false">Aleyhte</option>
                                    <option value="">Belirsiz</option>
                                </select>
                                <span asp-validation-for="MahkemeKarari.KararSonucu" class="text-danger"></span>

                            </td>

                        </tr>
                        <tr>

                            <td>
                                <b>Karar Özeti</b>
                            </td>
                            <td>
                                <textarea asp-for="MahkemeKarari.KararOzeti" class="form-control" id="kararozeti"
                                          rows="5" cols="10" maxlength="8000" placeholder="Dava Konusu" >
                                </textarea>
                                <span asp-validation-for="MahkemeKarari.KararOzeti" class="text-danger" id="kararOzetiError"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:80%">
                                    <span>Dava Sonucu</span>
                                </td>
                                <td style="text-align:right;">
                                    <span>

                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table id="davaBilgi" class="table table-hover" style="width:100%;font-size:11px;">
                    <tbody>
                        <tr>
                            <td>
                                <b>Kaldırma No</b>

                            </td>
                            <td>
                                <input asp-for="DavaSonucu.KaldirmaNo" class="form-control" placeholder="Kaldırma No" />
                                <span asp-validation-for="DavaSonucu.KaldirmaNo" class="text-danger"></span>
                            </td>
                            <td>
                                <b>Sonuç Tarihi</b>
                            </td>
                            <td>
                                <input asp-for="DavaSonucu.SonucTarihi" class="form-control"  />
                                <span asp-validation-for="DavaSonucu.SonucTarihi" class="text-danger"></span>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Dava Sonucu</b>
                            </td>
                            <td>
                                <select asp-for="DavaSonucu.DavaSonucu1" class="form-control">
                                    <option value="true">Lehte</option>
                                    <option value="false">Aleyhte</option>
                                    <option value="" selected>Belirsiz</option>
                                </select>

                            </td>
                            <td>
                                <b>İcra Safhası</b>
                            </td>
                            <td>
                                <textarea asp-for="DavaSonucu.IcraSafhasi" class="form-control"
                                          rows="6" cols="80" maxlength="7999" placeholder="İcra Safhası" ></textarea>
                                <span asp-validation-for="DavaSonucu.IcraSafhasi" class="text-danger"></span>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Asıl Alacak</b>
                            </td>
                            <td>
                                <input type="number" asp-for="DavaSonucu.AsilAlacak" class="form-control"  />
                                <span asp-validation-for="DavaSonucu.AsilAlacak" class="text-danger"></span>

                            </td>
                            <td>
                                <b>İşlenmiş Faiz</b>
                            </td>
                            <td>
                                <input type="number" asp-for="DavaSonucu.IslenmisFaiz" class="form-control"  />
                                <span asp-validation-for="DavaSonucu.IslenmisFaiz" class="text-danger"></span>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Mahkeme ve Harc Masrafı</b>
                            </td>
                            <td>
                                <input type="number" asp-for="DavaSonucu.MahkemeHarcveMasrafi" class="form-control"  />
                                <span asp-validation-for="DavaSonucu.MahkemeHarcveMasrafi" class="text-danger"></span>

                            </td>
                            <td>
                                <b>İcra Masrafı</b>
                            </td>
                            <td>
                                <input type="number" asp-for="DavaSonucu.IcraMasraflari" class="form-control"  />
                                <span asp-validation-for="DavaSonucu.IcraMasraflari" class="text-danger"></span>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Vekalet Ücretleri</b>
                            </td>
                            <td>
                                <input type="number" asp-for="DavaSonucu.VekaletUcretleri" class="form-control"  />
                                <span asp-validation-for="DavaSonucu.VekaletUcretleri" class="text-danger"></span>

                            </td>
                            <td>
                                <b>İcra Vekalet Ücreti</b>
                            </td>
                            <td>
                                <input type="number" asp-for="DavaSonucu.IcraVekaletUcreti" class="form-control"  />
                                <span asp-validation-for="DavaSonucu.IcraVekaletUcreti" class="text-danger"></span>

                            </td>
                            <td>
                                <b>Ödeme Tarihi</b>
                            </td>
                            <td>
                                <input asp-for="DavaSonucu.OdemeTarihi" class="form-control"  />
                                <span asp-validation-for="DavaSonucu.OdemeTarihi" class="text-danger"></span>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>




            <div class="panel panel-default">
                <div class="panel-heading">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:80%">
                                    <span> Temyiz </span>
                                </td>
                                <td style="text-align:right;">
                                    <span>

                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table id="davaBilgi" class="table table-hover" style="width:100%;font-size:11px;">
                    <tbody>
                        <tr>

                            <td>
                                <b>Temyiz Eden </b>
                            </td>
                            <td>

                                <select asp-for="Temyiz.TemyizEdenPetkim" class="form-control">
                                    <option value="true" selected>Petkim</option>
                                    <option value="false">Karşı Taraf</option>
                                </select>

                            </td>
                            <td>
                                <b>Temyiz Tarihi</b>
                            </td>
                            <td>
                                <input type="date" asp-for="Temyiz.TemyizTarihi" class="form-control" placeholder="Temyiz Tarihi" />
                                <span asp-validation-for="Temyiz.TemyizTarihi" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <b>Temyiz Sonucu</b>
                            </td>
                            <td>
                                <select asp-for="Temyiz.TemyizSonucu" class="form-control">
                                    <option value="true" selected>Lehte</option>
                                    <option value="false">Aleyhte</option>
                                    <option value="">Belirsiz</option>
                                </select>
                                <span asp-validation-for="Temyiz.TemyizSonucu" class="text-danger"></span>

                            </td>
                        </tr>

                        <tr>

                            <td>
                                <b>Açıklama </b>
                            </td>
                            <td>
                                <textarea asp-for="Temyiz.Aciklama" class="form-control"
                                          rows="5" cols="10" maxlength="8000" placeholder="Temyiz Açıklama">
                                </textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="davaKayitNo" value="@tokens[1]" />


             <div class="form-group row offset-4">
                    <div class="col-4" >
                        <input type="hidden" name="davaKayitNo" value="@Int32.Parse(tokens[1])." />

                        <input style="width:100%; font-size:18px;" type="submit" value="Güncelle" class="btn btn-default btn-xs" id="guncelle"/>
                    </div>
                </div>
        </form>
    </div>
</div>

<script>
    var esasNoVal = true;
    var defterSiraNoVal = true;
    var yargitayDosyaNoVal = true;
    var davaTarihiVal = true;
    var davaKonusuVal = true;
    var lehteVal = true;
    var sonucTahminiVal = true;
    var mahkemesiVal = true;
    var davaTutariVal = true;
    var islahDegeriVal = true;
    var davaciVal = true;
    var davaliVal = true;
    var digerDavacilarVal = true;
    var digerDavalilarVal = true;
    var aciklamaVal = true;

    document.getElementById("guncelle").setAttribute("disabled", true);


    var esasNo = document.getElementById("esasno");
    esasNo.addEventListener("change", () => {
        var esasNo = document.getElementById("esasno").value.toString();
        var esasNoError = document.getElementById("esasNoError");
        if (esasNo.length == 0) {
            esasNoError.textContent = "Esas No boş olamaz";
            esasNoVal = true;
        } else if (esasNo.length < 3 || esasNo.length > 100) {
            esasNoVal = true;
            esasNoError.textContent = "Esas No 3 ve 100 karakter arasında olmalıdır";
        } else {
            esasNoError.textContent = "";
            esasNoVal = false;
        }
    });


    var defterSiraNo = document.getElementById("deftersirano");
    defterSiraNo.addEventListener("change", () => {
        var defterSiraNo = document.getElementById("deftersirano").value.toString();
        var defterSiraNoError = document.getElementById("defterSiraNoError");
        if (defterSiraNo.length == 0) {
            defterSiraNoVal = true;
            defterSiraNoError.textContent = "Defter Sıra No boş olamaz";
        } else if (defterSiraNo.length < 3 || defterSiraNo.length > 100) {
            defterSiraNoVal = true;
            defterSiraNoError.textContent = "Defter sıra No 3 ve 100 karakter arasında olmalıdır";
        } else {
            defterSiraNoVal = false;
            defterSiraNoError.textContent = "";
        }
    });


    var yargitayDosyaNo = document.getElementById("yargitaydosyano");
    yargitayDosyaNo.addEventListener("change", () => {
        var yargitayDosyaNo = document.getElementById("yargitaydosyano").value.toString();
        var yargitayDosyaNoError = document.getElementById("yargitayDosyaNoError");
        if (yargitayDosyaNo.length == 0) {
            yargitayDosyaNoVal = true;
            yargitayDosyaNoError.textContent = "Yargıtay dosya no boş olamaz";
        } else if (yargitayDosyaNo.length < 3 || yargitayDosyaNo.length > 20) {
            yargitayDosyaNoVal = true;
            yargitayDosyaNoError.textContent = "Yargıtay dosya no 3 ve 20 karakter arasında olmalıdır";
        } else {
            yargitayDosyaNoVal = false;
            yargitayDosyaNoError.textContent = "";
        }
    });


    var davaKonusu = document.getElementById("davakonusu");
    davaKonusu.addEventListener("change", () => {
        var davaKonusu = document.getElementById("davakonusu").value.toString();
        var davaKonusuError = document.getElementById("davaKonusuError");
        if (davaKonusu.length == 0) {
            davaKonusuVal = true;
            davaKonusuError.textContent = "Dava Konusu boş olamaz"
        } else if (davaKonusu.length < 3 || davaKonusu.length > 100) {
            davaKonusuVal = true;
            davaKonusuError.textContent = "Dava Konusu 3 ve 100 karakter arasında olmalıdır";
        } else {
            davaKonusuVal = false;
            davaKonusuError.textContent = "";
        }
    });


        var mahkemesi = document.getElementById("mahkemesi");
    mahkemesi.addEventListener("change", () => {
        var mahkemesi = document.getElementById("mahkemesi").value.toString();
        var mahkemesiError = document.getElementById("mahkemesiError");
        if (mahkemesi.length == 0) {
            mahkemesiVal = true;
            mahkemesiError.textContent = "Mahkemesi boş olamaz";
        } else if (mahkemesi.length < 3 || mahkemesi.length > 100) {
            mahkemesiVal = true;
            mahkemesiError.textContent = "Mahkemesi 3 ve 100 karakter arasında olmalıdır";
        } else {
            mahkemesiVal = false; 
            mahkemesiError.textContent = "";
        }
    });

    var davaTutari = document.getElementById("davatutari");
    davaTutari.addEventListener("change", () => {
        var davaTutari = parseInt(document.getElementById("davatutari").value);
        var davaTutariError = document.getElementById("davaTutariError");
        if (davaTutari == 0 || davaTutari == NaN) {
            davaTutariError.textContent = "Dava tutarı boş olamaz";
            davaTutariVal = true;
        } else if (!/^[0-9]+$/.test(davaTutari)) {
            davaTutariVal = true;
            davaTutariError.textContent = "Dava tutarı sadece rakamlar içermelidir"
        } else {
            davaTutariVal = false;
            davaTutariError.textContent = "";
        }
    });


    var islahDegeri = document.getElementById("islahdegeri");
    islahDegeri.addEventListener("change", () => {
        var islahDegeri = parseInt(document.getElementById("islahdegeri").value);
        var islahDegeriError = document.getElementById("islahDegeriError");
        if (islahDegeri == 0 || islahDegeri == NaN) {
            islahDegeriVal = true;
            islahDegeriError.textContent = "İslah değeri boş olamaz";
        } else if (!/^[0-9]+$/.test(islahDegeri)) {
            islahDegeriVal = true;
            islahDegeriError.textContent = "İslah değeri sadece rakamlar içermelidir"
        } else {
            islahDegeriVal = false;
            islahDegeriError.textContent = "";
        }
    });


    var davaci = document.getElementById("davaci");
    davaci.addEventListener("change", () => {
        var davaci = document.getElementById("davaci").value.toString();
        var davaciError = document.getElementById("davaciError");
        if (davaci.length == 0) {
            davaciVal = true;
            davaciError.textContent = "Davaci boş olamaz";
        } else if (davaci.length < 3 || davaci.length > 50) {
            davaciVal = true;
            davaciError.textContent = "Davaci 3 ve 50 karakter arasında olmalıdır";
        } else {
            davaciVal = false;
            davaciError.textContent = "";
        }
    });

    var davali = document.getElementById("davali");
    davali.addEventListener("change", () => {
        var davali = document.getElementById("davali").value.toString();
        var davaliError = document.getElementById("davaliError");
        if (davali.length == 0) {
            davaliVal = true;
            davaliError.textContent = "Davali boş olamaz";
        } else if (davali.length < 3 || davali.length > 100) {
            davaliVal = true;
            davaliError.textContent = "Davali 3 ve 50 kararter arasında olmalıdır";
        } else {
            davaliVal = false;
            davaliError.textContent = "";
        }
    });


    var digerDavacilar = document.getElementById("digerdavacilar");
    digerDavacilar.addEventListener("change", () => {
        var digerDavacilar = document.getElementById("digerdavacilar").value.toString();
        var digerDavacilarError = document.getElementById("digerDavacilarError");
        if (digerDavacilar.length == 0) {
            digerDavacilarVal = true;
            digerDavacilarError.textContent = "Diger davacilar boş olamaz";
        } else if (digerDavacilar.length < 3 || digerDavacilar.length > 100) {
            digerDavacilarVal = true;
            digerDavacilarError.textContent = "Diger davacilar 3 ve 100 kararter arasında olmalıdır";
        } else {
            digerDavacilarVal = false;
            digerDavacilarError.textContent = "";
        }
    });

    var digerDavalilar = document.getElementById("digerdavalilar");
    digerDavalilar.addEventListener("change", () => {
        var digerDavalilar = document.getElementById("digerdavalilar").value.toString();
        var digerDavalilarError = document.getElementById("digerDavalilarError");
        if (digerDavalilar.length == 0) {
            digerDavalilarVal = true;
            digerDavalilarError.textContent = "Diger Davalilar boş olamaz";
        } else if (digerDavalilar.length < 3 || digerDavalilar > 100) {
            digerDavalilarVal = true;
            digerDavalilarError.textContent = "Diger davalilar 3 ve 100 karakter arasında olmalıdır";
        } else {
            digerDavalilarVal = false;
            digerDavalilarError.textContent = "";
        }
    });


    var aciklama = document.getElementById("aciklama");
    aciklama.addEventListener("change", () => {
        var aciklama = document.getElementById("aciklama").value.toString();
        var aciklamaError = document.getElementById("aciklamaError");
        if (aciklama.length == 0) {
            aciklamaVal = true;
            aciklamaError.textContent = "Açıklama boş olamaz";
        } else if (aciklama.length < 20 || aciklama.length > 8000) {
            aciklamaVal = true;
            aciklamaError.textContent = "Açıklama 20 ve 8000 karakter arasında olmalıdır";
        } else {
            aciklamaVal = false;
            aciklamaError.textContent = "";
        }
    });



    function validateDavaTarihi() {

        var davaTarihi = document.getElementById("davaTarihi").value.toString();
        if (davaTarihi.match(/^(19|20)\d{2}\-(0[1-9]|1[0-2])\-(0[1-9]|1\d|2\d|3[01])$/) === null) {
            document.getElementById("davaTarihiError").textContent = "Yanlış tarih formatı";
            davaTarihiVal = true;
            //document.getElementById("yeniDava").setAttribute("disabled", true);
        } else {
            document.getElementById("davaTarihiError").textContent = "";
            davaTarihiVal = false;
            //document.getElementById("yeniDava").                                                                                                 mççççççççççççççççççççççççççç       disabled = false;
        }

        var currentDate = new Date();
        var month = currentDate.getMonth();
        var year = currentDate.getFullYear();
        var day = currentDate.getDay();

        var strTestDate = (year.toString() + "-" + month.toString() + "-" + day.toString());

        var davaTarihiDate = new Date(davaTarihi);

        var testDate = new Date(strTestDate);
        if (davaTarihiDate < testDate) {
            document.getElementById("davaTarihiError").textContent = "Geçersiz dava tarihi";
            davaTarihiVal = true;
            //document.getElementById("yeniDava").setAttribute("disable", true);
        }
    }


    var form = document.getElementById("davaGuncelle");
    form.addEventListener("change", () => {

        if (!esasNoVal && !defterSiraNoVal && !yargitayDosyaNoVal && !davaTarihiVal
            && !davaKonusuVal && !mahkemesiVal && !davaTutariVal && !islahDegeriVal && !davaciVal && !davaliVal
            && !digerDavacilarVal && !digerDavalilarVal && !aciklamaVal) {
            console.log("test", "button")
            enabled = true;
            document.getElementById("guncelle").disabled = false;
        }

    });

</script>


<!---YEREL MAHKEME-->
<script>

    var kararNoVal = true;
    var kararTarihiVal = true;
    var kararSonucuVal = true;
    var kararOzetiVal = true;

    var kararNo = document.getElementById("kararno")
    kararNo.addEventListener("change", () => {
        var kararNo = document.getElementById("kararno").value.toString();
        var kararNoError = document.getElementById("kararNoError");
        if (kararNo.length == 0) {
            kararNoError.textContent = "KararNo boş olamaz";
            kararNoVal = true;
        } else if (kararNo.length < 3 || kararNo.length > 20) {
            kararNoVal = true;
            kararNoError.textContent = "Karar no 3 ve 20 karakter arasında olmalıdır";
        } else {
            kararNoError.textContent = "";
            kararNoVal = false;
        }
    });


    var kararOzeti = document.getElementById("kararozeti");
    kararOzeti.addEventListener("change", () => {
        var kararOzeti = document.getElementById("kararozeti").value.toString();
        var kararOzetiError = document.getElementById("kararOzetiError");
        if (kararOzeti.length == 0) {
            kararOzetiVal = true;
            kararOzetiError.textContent = "Karar özeti boş olaza";
        } else if (kararOzeti.length < 20 || kararOzeti.length > 8000) {
            kararOzetiVal = true;
            kararOzetiError.textContent = "Karar özeti 20 ve 8000 karakter arasında olmalıdır"
        } else {
            kararOzetiVal = true;
            kararOzetiError.textContent = "";
        }

    });



    // TODO - ERROR - KararTarihi > Dava Tarihi &6 KararTarihi > Current Time
    function validateKararTarihi() {

        var davaTarihi = document.getElementById("davaTarihi").value.toString();
        if (davaTarihi.match(/^(19|20)\d{2}\-(0[1-9]|1[0-2])\-(0[1-9]|1\d|2\d|3[01])$/) === null) {
            document.getElementById("davaTarihiError").textContent = "Yanlış tarih formatı";
            davaTarihiVal = true;
            //document.getElementById("yeniDava").setAttribute("disabled", true);
        } else {
            document.getElementById("davaTarihiError").textContent = "";
            davaTarihiVal = false;
            //document.getElementById("yeniDava").                                                                                                 mççççççççççççççççççççççççççç       disabled = false;
        }

        var currentDate = new Date();
        var month = currentDate.getMonth();
        var year = currentDate.getFullYear();
        var day = currentDate.getDay();

        var strTestDate = (year.toString() + "-" + month.toString() + "-" + day.toString());

        var davaTarihiDate = new Date(davaTarihi);

        var testDate = new Date(strTestDate);
        if (davaTarihiDate < testDate) {
            document.getElementById("davaTarihiError").textContent = "Geçersiz dava tarihi";
            davaTarihiVal = true;
            //document.getElementById("yeniDava").setAttribute("disable", true);
        }
    }

    if (!kararOzetiVal && !kararNoVal && !kararTarihiVal) {
        //enable button
    }

</script>