@page
@model WebApp1.Pages.Davalar.GuncelleYerelMahkemeKarariModel
@{
}

<div class="form-row">
    <div class="form-group col-md-8">
        <h4>Yerel Mahkeme Kararı Güncelle</h4>
    </div>
    <div class="form-group col-md-4">
        <p><a class="nav-upt-link" asp-area="" asp-page="/Index">Tüm Davalar</a> / Yerel Mahkeme Kararı</p>
    </div>
</div>

<div class="border container" style="padding:30px;">
    <form method="post">

        <center>
            <div class="form-row">
                <div class="form-group col-md-12 txt-center">
                    @{
                        var id = Request.QueryString.ToString();
                        string[] tokens = id.Split("=");
                    }

                    <h4><label asp-for="Karar.DavaKayitNo">Dava Kayıt No @tokens[1]</label></h4>


                    <input asp-for="Karar.DavaKayitNo" value="@tokens[1].ToString()"
                           type="hidden" class="form-control" />
                </div>
            </div>
        </center>



        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Karar.KararNo"></label>
                <input asp-for="Karar.KararNo" class="form-control" required/>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Karar.KararTarihi"></label>
                <input asp-for="Karar.KararTarihi" class="form-control" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Karar.KararSonucu">Karar Sonucu</label>
                <select asp-for="Karar.KararSonucu" class="form-control">
                    <option value="true" selected>Lehte</option>
                    <option value="false">Aleyhte</option>
                    <option value="">Belirsiz</option>
                </select>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Karar.KararOzeti"></label>
                <textarea asp-for="Karar.KararOzeti" class="form-control"
                          rows="5" cols="10" maxlength="8000" placeholder="Dava Konusu" required>
                 </textarea>
            </div>
        </div>

        <div class="form-group row offset-4">
            <div class="col-3">
                    <input type="hidden" name="davaKayitNo" value="@tokens[1]" />
                <input type="submit" value="Güncelle" class="btn btn-dark btn-search" />
            </div>
        </div>

    </form>
</div>


