@page
@model WebApp1.Pages.Davalar.YeniDavaModel
@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sidenav.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<body class="new-case">

<div class="user-dashboard">

    <div class="form-row">
        <div class="form-group col-md-8">
            <h4>Yeni Dava Ekle</h4>
        </div>
        <div class="form-group col-md-4">
            <p><a class="nav-upt-link" asp-area="" asp-page="/Index">Tüm Davalar</a> / Yeni Dava</p>
        </div>
    </div>

    <div class="border container" style="padding:30px;">
        <div class="new-case-scroll">
            <form method="post">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.EsasNo">Esas No</label>
                        <input asp-for="Dava.EsasNo" class="form-control" placeholder="Esas No" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.DefterSiraNo">Defter Sıra No</label>
                        <input asp-for="Dava.DefterSiraNo" class="form-control" placeholder="Defter Sıra No" required />
                    </div>
                </div>
                <br />

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="Dava.YargitayDosyaNo">Yargıtay Dosya No</label>
                        <input asp-for="Dava.YargitayDosyaNo" class="form-control" placeholder="Yargıtay Dosya No" required />
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Dava.DavaTarihi">Dava Tarihi</label>
                        <input asp-for="Dava.DavaTarihi" class="form-control" placeholder="Dava Tarihi" required />
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Dava.DavaTuruKayitNo">Dava Türü</label>
                        <select asp-for="Dava.DavaTuruKayitNo" class="form-control">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>


                <br />

                <div class="form-group">
                    <label asp-for="Dava.DavaKonusu"></label>
                    <textarea asp-for="Dava.DavaKonusu" class="form-control"
                              rows="2" cols="50" maxlength="99" placeholder="Dava Konusu" required>
                 </textarea>
                </div>

                <br />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.Lehte">Dava Lehte</label>
                        <select asp-for="Dava.Lehte" class="form-control">
                            <option value="true" selected>Lehte</option>
                            <option value="false">Aleyhte</option>
                            <option value="">Belirsiz</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.SonucTahmini">Tahmini Sonuç</label>
                        <select asp-for="Dava.SonucTahmini" class="form-control">
                            <option value="">Yorumsuz</option>
                            <option value="true">Lehte</option>
                            <option value="false">Aleyhte</option>
                        </select>
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <label asp-for="Dava.Mahkemesi">Mahkemesi</label>
                    <textarea asp-for="Dava.Mahkemesi" class="form-control"
                              rows="2" cols="50" maxlength="99" placeholder="Mahkemesi" required></textarea>
                </div>

                <br />

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="Dava.DavaTutari">Dava Tutarı</label>
                        <input asp-for="Dava.DavaTutari" class="form-control" placeholder="Dava Tutarı" type="number" />
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Dava.IslahDegeri">Islah Değeri</label>
                        <input asp-for="Dava.IslahDegeri" class="form-control" placeholder="Islah Değeri" type="number" />
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Dava.ParaBirimiKayitNo">Para Birimi</label>
                        <select asp-for="Dava.ParaBirimiKayitNo" class="form-control">
                            <option value="1">$</option>
                            <option value="2" selected>tl</option>
                        </select>
                    </div>
                </div>

                <br />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.Davaci">Davacı</label>
                        <input asp-for="Dava.Davaci" class="form-control" placeholder="Davacı" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.Davali">Davalı</label>
                        <input asp-for="Dava.Davali" class="form-control" placeholder="Davalı" required />
                    </div>
                </div>

                <br />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.DigerDavacilar">Diğer Davacılar</label>
                        <input asp-for="Dava.DigerDavacilar" class="form-control" placeholder="Diğer Davacılar" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.DigerDavalilar">Diğer Davalılar</label>
                        <input asp-for="Dava.DigerDavalilar" class="form-control" placeholder="Diğer Davalılar" required />
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <label asp-for="Dava.Aciklama">Açıklama</label>
                    <textarea asp-for="Dava.Aciklama" class="form-control"
                              rows="6" cols="80" maxlength="7999" placeholder="Açıklama" required></textarea>
                </div>
                <br />

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.OlusturulmaTarihi">Oluşturulma Tarihi</label>
                        <input asp-for="Dava.OlusturulmaTarihi" class="form-control" placeholder="Oluşturulma Tarihi" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.DegistirilmeTarihi">Değiştirilme Tarihi</label>
                        <input asp-for="Dava.DegistirilmeTarihi" class="form-control" placeholder="Değiştirilme Tarihi" />
                    </div>
                </div>
                <br />

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.OlusturanKisi">Oluşturan Kişi</label>
                        <input asp-for="Dava.OlusturanKisi" class="form-control" placeholder="Oluşturan Kişi" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.DegistirenKisi">Değiştiren Kişi</label>
                        <input asp-for="Dava.DegistirenKisi" class="form-control" placeholder="Değiştiren Kişi" required />
                    </div>
                </div>
                <br />

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Dava.DavaFormTipi">Dava Form Tipi</label>
                        <input asp-for="Dava.DavaFormTipi" class="form-control" placeholder="Dava Form Tipi" />
                    </div>
                    <div class="form-group col-md-6">

                        <label asp-for="Dava.TemyizEdildi">Temyiz Durumu</label>
                        <select asp-for="Dava.TemyizEdildi" class="form-control">
                            <option value="true">Edildi</option>
                            <option value="false">Edilmedi</option>
                            <option value="" selected>Belirsiz</option>
                        </select>
                    </div>
                </div>
                <br />

                <div class="form-group row offset-4">

                    <div class="col-3">
                        <input type="submit" value="Ekle" class="btn btn-dark btn-search" />
                    </div>

                </div>

            </form>
        </div>
    </div>

</div>


</body>
</html>