@page
@model RegisterModel
@using WebApp1.Models
@{
    ViewData["Title"] = "Register";
}


@if (User.IsInRole(Roles.Role_Admin))
{
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">

    <div class="panel panel-deafult" style="width:100%;height:100%;">



        <div class="panel-heading" style="background-color:#f5f5f5">
            <table>
                <tbody>
                    <tr>
                        <td style="width:80%">
                            <span>Yeni Kullanıcı Oluştur</span>
                        </td>
                        <td style="text-align:right;">
                            <span>

                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <table id="davaBilgi" class="table table-hover" style="width:100%;font-size:11px;">
            <tbody>
                <tr>
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <td>
                        <b>Email</b>
                    </td>
                    <td>
                        <input asp-for="Input.Email" class="form-control w-50" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Kullanıcı İsmi</b>
                    </td>
                    <td>
                        <input asp-for="Input.UserName" class="form-control w-50" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Kullanıcı Görevi</b>
                    </td>
                    <td>
                        <input asp-for="Input.UserDuty" class="form-control w-50" />
                        <span asp-validation-for="Input.UserDuty" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Telefon Numarası</b>
                    </td>
                    <td>
                        <input asp-for="Input.PhoneNumber" class="form-control w-50" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Şifre</b>
                    </td>
                    <td>
                        <input asp-for="Input.Password" class="form-control w-50" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Tekrar Şifre</b>
                    </td>
                    <td>
                        <input asp-for="Input.ConfirmPassword" class="form-control w-50" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Kullanıcı Tipi</b>
                    </td>
                    <td>
                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control w-50">
                            <option disabled selected> Roles </option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-default btn-xs" style="width:20%;font-size:18px;">Kayıt Yap</button>
</form>
}
else
{
    <h1>Yetki Yok</h1>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
